*
{
    /* outline: 1px solid red !important; */
    font-family: "Tiny5", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(8, 224, 0);
}

html
{
    background-color: black;
    scroll-behavior: smooth;
    scrollbar-color: rgb(8, 224, 0) black;
}

@media screen and (min-width: 3000px) {
    html
    {
        max-width: 3000px;
        margin: 0px auto;
    }
}

body
{
    margin: 0;
}
